### Java & Gradle ###
*.class
*.jar
*.war
*.ear
bin/
.gradle/                # Gradle 캐시 폴더
build/                  # Gradle 빌드 결과물

# Gradle Wrapper 파일들은 무시하지 않도록 예외 처리
!**/gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.properties
!**/gradlew
!**/gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
gen/
.navigation/            # 인텔리제이 내부 파일

### OS & Misc ###
.DS_Store
Thumbs.db
*.log

### Backend - Security & Config ###
*.properties
*.yml
!.github/workflows/*.yml

### Backend - 설정 파일 ###
backend/src/main/resources/config/db.properties
backend/src/main/resources/config/mail.properties
backend/src/main/resources/config/enterprise.properties
backend/src/main/resources/config/redis.properties
backend/src/main/resources/config/kh-holding.properties
backend/src/main/resources/config/payment.properties
backend/src/main/resources/config/slack.properties
backend/src/main/resources/config/kakao.properties
backend/src/main/resources/config/smartFarm.properties
backend/src/main/resources/config/swagger.properties
backend/src/main/resources/config/jwt.properties
backend/src/main/resources/config/llmApi.properties

### Frontend (React + Vite) ###
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

### Frontend - 환경 변수 ###
frontend/.env
frontend/.env.development
frontend/.env.production
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.*.env.local
frontend/.env.*.local

### VSCode ###
.vscode/
!.vscode/extensions.json

### Frontend Cashing ###
.vite/                  # Vite 캐시 폴더
.eslintcache            # ESLint 실행 캐시
.stylelintcache         # Stylelint 실행 캐시
node_modules/

### Build & Temp ###
target/                 # 메이븐 흔적 지우기
*.tmp
*.bak
*.swp
logs/

### 기타 ###
ANTIGRAVITY.md
